@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

/* шаблон вставки в html 

*/

.support {
  @include container($desktop__container-width);
  height: 500px;
  background: #000000;
  h2 {
    margin: 0;
    padding: 0;
    outline: 1px solid black;
  }
}
