@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.rates {
  @include font--1(14px, 1.36, #2b2b2b);
  min-width: $desktop__container-min-width;
  font-size: calcFontSize(14, 16, 1024, 1600);
  background: #4182ad url("../img/bg__rates.jpg") top left / cover no-repeat;
  cursor: default;
}

.rates__anchor {
  position: relative;
  top: -30px;
}

.rates__wrapper {
  @include container($desktop__container-width);
  max-width: $desktop__container-max-width;
  padding: $desktop__container-padding $desktop__container-padding 6.5%;
}

.rates__title {
  margin: 0 0 3.7%;
  padding: 0.05em 0 0;
  font-weight: 400;
  font-size: calcFontSize(38, 44, 1024, 1600);
  line-height: 1;
  text-align: center;
  color: #ffffff;
}

.rates__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rates__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 33.5%;
  max-width: 350px;
  padding: calcFontSize(25, 38, 1024, 1600) $desktop__container-padding / 2.5;
  background: #ffffff;
  border-radius: calcFontSize(12, 18, 1024, 1600);
  box-shadow: 2.1px 2.1px 5px rgba(0, 0, 0, 0.2);
}

.rates__item--hit {
  @include pseudo-after(115px, 115px);
  position: relative;
  z-index: 200;
  &::after {
    top: -9px;
    right: -9px;
    z-index: 100;
    background: url("../img/pic__rate-hit.png");
  }
}

.rates__item--advanced {
  width: 29.5%;
  max-width: 290px;
  padding: 0;
  color: #ffffff;
  background-color: transparent;
  box-shadow: none;
}

.rates__caption {
  margin: 0 0 calcFontSize(9, 15, 1024, 1600);
  padding: 0;
  font-size: calcFontSize(36, 42, 1024, 1600);
  line-height: 1.15;
  color: #ffc000;
}

.rates__description {
  margin: 0 0 calcFontSize(17, 25, 1024, 1600);
  padding: 0;
}

.rates__specification {
  margin-bottom: calcFontSize(12, 18, 1024, 1600);
  .rates__row {
    display: flex;
    justify-content: space-between;
    line-height: 1.75;
  }
  i {
    list-style: none;
    font-weight: 700;
  }
}

.rates__ok {
  position: relative;
  top: 5px;
  width: 12px;
  height: 13px;
  background: url("../img/pic__specification.png") no-repeat;
  opacity: 0.8;
}

.rates__dots {
  flex-grow: 1;
  margin: 0 3px;
  background: linear-gradient(to right, #000000, transparent, transparent) repeat-x 0 1.1em / 4px 1px;
}

.rates__dots--white {
  background-image: linear-gradient(to right, #ffffff, transparent, transparent);
}

.rates__month {
  font-size: calcFontSize(25, 28, 1024, 1600);
  line-height: 1;
  span {
    font-size: calcFontSize(39, 45, 1024, 1600);
    vertical-align: middle;
    color: #f24a00;
  }
}

.rates__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calcFontSize(18, 27, 1024, 1600);
  color: #999999;
  span {
    font-size: calcFontSize(12, 14, 1024, 1600);
  }
}

.rates__select {
  position: relative;
  min-width: 5.7em;
  padding: 4px 1em 4px 8px;
  font-size: calcFontSize(16, 19, 1024, 1600);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: calcFontSize(6, 9, 1024, 1600);
  transition-duration: $btn-duration-anim;
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.7);
    &::after {
      border-bottom-color: rgba(0, 0, 0, 0.7);
      border-left-color: rgba(0, 0, 0, 0.7);
    }
  }
  &::after {
    @include checkbox-in(0.55em, 0.55em, 0.08em, rgba(0, 0, 0, 0.3));
    top: 0.35em;
    right: 0.5em;
    z-index: 1;
    display: block;
  }
  span {
    font-size: calcFontSize(16, 19, 1024, 1600);
    line-height: 1;
    color: #000000;
  }
  select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
}

.rates__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rates__additionally {
  margin-bottom: 10px;
  padding: calcFontSize(18, 25, 1024, 1600) 7.5%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: calcFontSize(12, 18, 1024, 1600);
  box-shadow: 2.1px 2.1px 5px rgba(0, 0, 0, 0.2);
  h3 {
    margin: 0;
    padding: 0 0 calcFontSize(10, 15, 1024, 1600);
    font-size: calcFontSize(20, 23, 1024, 1600);
    line-height: 0.9;
  }
  .rates__row {
    display: flex;
    justify-content: space-between;
    font-size: calcFontSize(13, 15, 1024, 1600);
    line-height: 1.85;
    i {
      font-style: normal;
    }
  }
  .rates__value {
    min-width: calcFontSize(30, 35, 1024, 1600);
    text-align: right;
  }
}

.rates__question {
  margin-bottom: 10px;
  padding: calcFontSize(15, 22, 1024, 1600) 7.5%;
  font-size: calcFontSize(15, 17, 1024, 1600);
  line-height: 1.5;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: calcFontSize(12, 18, 1024, 1600);
  box-shadow: 2.1px 2.1px 5px rgba(0, 0, 0, 0.2);
}

.rates__question-link {
  font-weight: 700;
  color: #ffc000;
  text-decoration: underline;
  cursor: pointer;
  transition-duration: $btn-duration-anim;
  &:hover {
    color: #ff9600;
    text-decoration: none;
  }
}

.rates__discount {
  padding: calcFontSize(18, 25, 1024, 1600) 7.5%;
  background-color: rgba(154, 21, 223, 0.5);
  border-radius: calcFontSize(12, 18, 1024, 1600);
  box-shadow: 2.1px 2.1px 5px rgba(0, 0, 0, 0.2);
  h3 {
    margin: 0;
    padding: 0 0 8px;
    font-size: calcFontSize(29, 32, 1024, 1600);
    line-height: 1;
    span {
      display: block;
      font-weight: 400;
      font-size: calcFontSize(22, 25, 1024, 1600);
      line-height: 0.9;
      color: #ffc000;
    }
  }
  .rates__row {
    font-size: calcFontSize(15, 17, 1024, 1600);
    line-height: 1.3;
    span {
      display: inline-block;
      font-size: calcFontSize(19, 21, 1024, 1600);
      color: #ffc000;
    }
  }
}

.rates__next {
  display: none;
}

@media ($mobile__width-mq) {
  .rates {
    display: flex;
    flex-direction: column;
    min-width: $mobile__container-min-width;
    max-width: $mobile__container-max-width;
    padding: 4vw 0 0;
    background: #4182ad url("../img/bg__rates--mobile.jpg") left top / cover no-repeat;
    .rates__list {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
    }
    .owl-stage-outer {
      width: calc(82vw + 12px);
      padding-left: 12px;
    }
    .owl-stage {
      padding-top: 10px;
    }
    .owl-prev {
      left: -4.5vw;
    }
    .owl-next {
      right: -4.5vw;
    }
  }
  
  .rates__anchor {
    top: -130px;
  }
  
  .rates__wrapper {
    padding-bottom: $mobile__container-padding;
    font-size: 3.89vw;
  }
  
  .rates__title {
    margin-bottom: 6vw;
    padding-top: 0;
    font-size: 8.61vw;
  }
  
  .rates__item {
    width: 82vw;
    max-width: 700px;
    margin-bottom: 8vw;
    padding: 8vw 5.56vw;
    border-radius: 3.33vw;
  }
  
  .rates__item--advanced {
    padding: 0;
  }
  
  .rates__caption {
    margin-bottom: 4.17vw;
    font-size: 8.4vw;
  }
  
  .rates__description {
    margin-bottom: 5.56vw;
  }
  
  .rates__specification {
    margin-bottom: 3.8vw;
  }
  
  .rates__month {
    font-size: 10vw;
    text-align: center;
    span {
      font-size: 12.5vw;
    }
  }
  
  .rates__time {
    flex-direction: column;
    margin-bottom: 7.5vw;
    span {
      margin-bottom: 1.39vw;
      font-size: 3.61vw;
    }
  }
  
  .rates__select {
    top: 0;
    min-width: 6.25em;
    padding: 1.5vw;
    font-size: 8vw;
    border-radius: 1.5vw;
    span {
      font-size: 8vw;
    }
  }
  
  .rates__buttons {
    flex-direction: column;
    padding: 0 7%;
  }
  
  .rates__trial {
    margin-bottom: 4.72vw;
  }
  
  .rates__order {
    order: 2;
  }
  
  .rates__additionally {
    margin-bottom: 7vw;
    padding: 6vw;
    font-size: 14px;
    border-radius: 3.33vw;
    h3 {
      font-weight: 400;
      font-size: 5.56vw;
    }
    .rates__row {
      font-size: 3.89vw;
    }
  }
  
  .rates__question {
    margin-bottom: 7vw;
    padding: 5vw;
    font-size: 4.5vw;
    border-radius: 3.33vw;
  }
  
  .rates__discount {
    padding: 6vw;
    font-size: 20px;
    border-radius: 3.33vw;
    h3 {
      font-size: 8.61vw;
      span {
        font-size: 6.67vw;
      }
    }
    .rates__row {
      font-size: 4.44vw;
      span {
        font-size: 5.56vw;
      }
    }
  }
  
  .rates__next {
    display: block;
    margin-bottom: 0;
    font-size: 8vw;
    text-align: center;
  }
}

@media ($mobile__width-mq) and (orientation: landscape) {
  .rates {
    padding: 0;
    .owl-stage-outer {
      width: calc(82vw * 0.8 + 12px);
      padding-left: 12px;
    }
    .owl-stage {
      padding-top: 10px;
    }
    .owl-prev {
      left: -4.5vw;
    }
    .owl-next {
      right: -4.5vw;
    }
  }
  
  .rates__wrapper {
    padding-bottom: $mobile__container-padding * 0.56;
    font-size: 3.89vw * 0.6;
  }
  
  .rates__title {
    margin-bottom: 6vw * 0.6;
    font-size: 8.61vw * 0.6;
  }
  
  .rates__item {
    width: 82vw * 0.8;
    margin-bottom: 8vw * 0.6;
    padding: 8vw * 0.6 5.56vw * 0.6;
    border-radius: 3.33vw;
  }
  
  .rates__item--advanced {
    padding: 0;
  }
  
  .rates__caption {
    margin-bottom: 4.17vw * 0.6;
    font-size: 8.4vw * 0.6;
  }
  
  .rates__description {
    margin-bottom: 5.56vw * 0.6;
  }
  
  .rates__specification {
    margin-bottom: 3.8vw * 0.6;
  }
  
  .rates__month {
    font-size: 10vw * 0.6;
    span {
      font-size: 12.5vw * 0.6;
    }
  }
  
  .rates__time {
    margin-bottom: 7.5vw * 0.6;
    span {
      margin-bottom: 1.39vw * 0.6;
      font-size: 3.61vw * 0.6;
    }
  }
  
  .rates__select {
    padding: 1.5vw * 0.6;
    font-size: 8vw * 0.6;
    border-radius: 1.5vw * 0.6;
    span {
      font-size: 8vw * 0.6;
    }
  }
  
  .rates__buttons {
    padding: 0 7%;
  }
  
  .rates__trial {
    margin-bottom: 4.72vw * 0.6;
  }
  
  .rates__additionally {
    margin-bottom: 7vw * 0.6;
    padding: 6vw * 0.6;
    font-size: 14px * 0.6;
    border-radius: 3.33vw * 0.6;
    h3 {
      font-size: 5.56vw * 0.6;
    }
    .rates__row {
      font-size: 3.89vw * 0.6;
    }
  }
  
  .rates__question {
    margin-bottom: 7vw * 0.6;
    padding: 5vw * 0.6;
    font-size: 4.5vw * 0.6;
    border-radius: 3.33vw * 0.6;
  }
  
  .rates__discount {
    padding: 6vw * 0.6;
    font-size: 20px * 0.6;
    border-radius: 3.33vw * 0.6;
    h3 {
      font-size: 8.61vw * 0.6;
      span {
        font-size: 6.67vw * 0.6;
      }
    }
    .rates__row {
      font-size: 4.44vw * 0.6;
      span {
        font-size: 5.56vw * 0.6;
      }
    }
  }
  
  .rates__next {
    margin-bottom: 0;
    font-size: 8vw * 0.6;
  }
}

@media (min-width: 1280px) {
  .rates__item {
    width: 32%;
    max-width: 440px;
  }
  
  .rates__select {
    top: -2em;
  }
  
  .rates__item--advanced {
    width: 27%;
    max-width: 360px;
  }
  
  .rates__dots {
    display: flex;
    flex-grow: 1;
  }
}

@media ($desktop__width-mq) {
  .rates__wrapper {
    padding: 79px 80px 102px;
    font-size: 16px;
  }
  
  .rates__title {
    font-size: 44px;
  }
  
  .rates__item {
    padding: 38px $desktop__container-padding/2.5;
    border-radius: 18px;
  }
  
  .rates__item--advanced {
    padding: 0;
  }
  
  .rates__caption {
    margin: 0 0 15px;
    font-size: 42px;
  }
  
  .rates__description {
    margin: 0 0 25px;
  }
  
  .rates__specification {
    margin-bottom: 18px;
  }
  
  .rates__month {
    font-size: 34px;
    font-size: 28px;
    span {
      font-size: 45px;
    }
  }
  
  .rates__time {
    margin-bottom: 27px;
    font-size: 15px;
    span {
      font-size: 14px;
    }
  }
  
  .rates__select {
    font-size: 19px;
    border-radius: 7px;
    span {
      font-size: 19px;
    }
  }
  
  .rates__additionally {
    padding: 25px 7.5%;
    border-radius: 18px;
    h3 {
      padding: 0 0 15px;
      font-size: 23px;
    }
    .rates__row {
      font-size: 15px;
    }
    .rates__value {
      min-width: 35px;
    }
  }
  
  .rates__question {
    padding: 22px 7.5%;
    font-size: 18px;
    border-radius: 18px;
  }
  
  .rates__discount {
    padding: 25px 7.5%;
    border-radius: 18px;
    h3 {
      font-size: 32px;
      span {
        font-size: 25px;
      }
    }
    .rates__row {
      font-size: 17px;
      span {
        font-size: 21px;
      }
    }
  }
}