.symbol {
  display: inline-block;
  fill: currentColor;
}

.symbol-arrow--left {
  width: 100%;
  height: 100%;
}

.symbol-arrow--right {
  width: 100%;
  height: 100%;
}

.servers__name {
  .symbol {
    @include center-y();
    left: -2.4em;
    width: 1.6em;
    height: 1.92em;
    fill: #ffffff;
  }
  
  .symbol-servers--equipment {
    width: 1.4em;
  }
  
  .symbol-servers--soft {
    width: 1.55em;
  }
  
  .symbol-servers--ssd {
    width: 1.4em;
  }
  
  .symbol-servers--cluster {
    left: -2.6em;
    width: 1.9em;
  }
  
  .symbol-servers--power {
    left: -2.7em;
    width: 1.95em;
  }
  
  .symbol-servers--protection {
    height: 2.1em;
  }
  
  .symbol-servers--security {
    height: 2.2em;
  }
}

@media ($mobile__width-mq) {
  .results {
    .symbol {
      color: #e9b22d;
      display: none;
    }
  }
}