.symbol {
  display: inline-block;
  fill: currentColor;
}

.symbol-arrow--left {
  width: 100%;
  height: 100%;
}

.symbol-arrow--right {
  width: 100%;
  height: 100%;
}

.symbol-servers--cluster {
  width: 67.23px;
  height: 67.23px;
}

.symbol-servers--data {
  width: 41.66px;
  height: 59.17px;
}

.symbol-servers--equipment {
  width: 45.31px;
  height: 57.81px;
}

.symbol-servers--internet {
  width: 39.27px;
  height: 65.84px;
}

.symbol-servers--mirror {
  width: 56px;
  height: 56px;
}

.symbol-servers--power {
  width: 58.28px;
  height: 60.48px;
}

.symbol-servers--protection {
  width: 43.42px;
  height: 66.35px;
}

.symbol-servers--security {
  width: 44.71px;
  height: 65.1px;
}

.symbol-servers--soft {
  width: 63.31px;
  height: 53.45px;
}

.symbol-servers--ssd {
  width: 45.31px;
  height: 55.84px;
}

