@font-face {
  font-family: "Somatic";
  font-style: normal;
  font-weight: 400;
  src: local("Somatic-Rounded"), local("Somatic Rounded"),
  url("../fonts/somatic.woff2") format("woff2"),
  url("../fonts/somatic.woff") format("woff");
}
