@import '../../scss/variables';
@import '../../scss/mixins';

.btn {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 calcFontSize(15, 16, 1024, 1600);
  font-size: calcFontSize(17, 18.5, 1024, 1600);
  line-height: 1.55;
  text-align: center;
  text-decoration: none;
  border: 1px solid;
  border-radius: calcFontSize(13, 19.5, 1024, 1600);
  outline: none;
  cursor: pointer;
  transition-duration: $btn-duration-anim;
}

.btn--order {
  color: #ffffff;
  background-color: #ffc000;
  border-color: #ffc000;
  &:hover {
    color: #e1a900;
    background-color: #ffffff;
  }
}

.btn--login {
  color: #0470b6;
  border-color: #5892c6;
  &:hover {
    color: #ffffff;
    background-color: #4487c1;
  }
}

.btn--big {
  margin-right: calcFontSize(7, 11, 1024, 1600);
  padding: 0 calcFontSize(20, 30, 1024, 1600);
  font-size: calcFontSize(16, 18, 1024, 1600);
  line-height: 2.7;
  text-transform: uppercase;
  border-radius: calcFontSize(6, 9, 1024, 1600);
}

.btn--yellow {
  font-weight: 700;
  color: #285981;
  background-color: #ffc000;
  border-color: #ffc000;
  box-shadow: 1.4px 1.4px 3px rgba(0, 0, 0, 0.23);
  &:hover {
    background-color: #ff9600;
  }
}

.btn--transparent {
  width: calcFontSize(130, 155, 1024, 1600);
  margin-right: 0;
  padding: calcFontSize(3, 4.5, 1024, 1600) 0;
  font-size: calcFontSize(14, 16, 1024, 1600);
  line-height: 1.36;
  color: #69a5d1;
  text-transform: none;
  border-color: #ffc000;
  &:hover {
    color: #0470b6;
    border-color: #ff9600;
  }
}

.btn--blue {
  font-weight: 700;
  color: #ffffff;
  background-color: #0470b6;
  border-color: #0470b6;
  &:hover{
    opacity: 0.8;
  }
}

.btn--more {
  color: #ffffff;
  border-color: #faf8f2;
  &:hover {
    background-color: rgba(255, 146, 0, 0.6);
    border-color: rgba(255, 146, 0, 0.6);
  }
}

@media ($mobile__width-mq) {
  .btn {
    padding: 0 4vw;
    font-size: 4.73vw;
    border-radius: 22px;
  }
  
  .btn--order {
    color: #000000;
    background-color: #ffffff;
    &:hover {
      color: #000000;
    }
  }
  
  .btn--login {
    font-weight: 700;
    font-size: 5.1vw;
    line-height: 1.7;
    color: #131414;
    background-color: #ffc000;
    border-color: #ffc000;
    border-radius: 34px;
    &:hover {
      color: #131414;
      background-color: #ffc000;
    }
  }
  
  .btn--big {
    width: 100%;
    padding: 5px 15px;
    font-size: 8vw;
    line-height: 2;
    border-radius: 2.78vw;
  }
  
  .btn--transparent {
    padding: 0;
    font-size: 4.7vw;
    border-radius: 1.5vw;
  }
  
  .btn--yellow {
    font-size: 5vw;
    border-radius: 1.67vw;
    &:hover {
      background-color: #ffc000;
    }
  }
  
  .btn--blue {
    font-size: 4.5vw;
    border-radius: 1.2vw;
  }
}

@media ($desktop__width-mq) {
  .btn {
    padding: 0 16px;
    font-size: 18px;
    border-radius: 19px;
  }
  
  .btn--big {
    margin-right: 11px;
    padding: 0 30px;
    font-size: 18px;
    border-radius: 9px;
  }
  
  .btn--transparent {
    width: 155px;
    margin-right: 0;
    padding: 4px 0;
    font-size: 16px;
  }
}