@import '../../scss/variables';
@import '../../scss/mixins';

.btn {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.25em 0.88em;
  font-size: calcFontSize(17, 18.5, 1024, 1600);
  line-height: 1.05;
  text-align: center;
  text-decoration: none;
  border: 1px solid;
  border-radius: calcFontSize(13, 19.5, 1024, 1600);
  outline: none;
  cursor: pointer;
  transition-duration: $btn-duration-anim;
}

.btn--order {
  color: #ffffff;
  background-color: #ffc000;
  border-color: #ffc000;
  &:hover {
    color: #e1a900;
    background-color: #ffffff;
  }
}

.btn--login {
  color: #0470b6;
  border-color: #5892c6;
  &:hover {
    color: #ffffff;
    background-color: #4487c1;
  }
}

.btn--big {
  margin-right: calcFontSize(7, 11, 1024, 1600);
  padding: 0 calcFontSize(20, 30, 1024, 1600);
  font-size: calcFontSize(16, 18, 1024, 1600);
  line-height: 2.7;
  text-transform: uppercase;
  border-radius: calcFontSize(6, 9, 1024, 1600);
}

.btn--yellow {
  font-weight: 700;
  color: #285981;
  background-color: #ffc000;
  border-color: #ffc000;
  box-shadow: 1.4px 1.4px 3px rgba(0, 0, 0, 0.23);
  &:hover {
    background-color: #ff9600;
  }
}

.btn--transparent {
  width: calcFontSize(130, 155, 1024, 1600);
  margin-right: 0;
  padding: 0.5em 0;
  font-size: calcFontSize(14, 16, 1024, 1600);
  line-height: 1.1;
  color: #69a5d1;
  text-transform: none;
  border-color: #ffc000;
  &:hover {
    color: #0470b6;
    border-color: #ff9600;
  }
}

.btn--blue {
  font-weight: 700;
  color: #ffffff;
  background-color: #0470b6;
  border-color: #0470b6;
  &:hover {
    opacity: 0.8;
  }
}

.btn--white {
  font-weight: 700;
  color: #285981;
  background-color: #ffffff;
  border-color: #ffffff;
  &:hover {
    opacity: 0.8;
  }
}

.btn--more {
  color: #ffffff;
  border-color: #faf8f2;
  &:hover {
    background-color: rgba(255, 146, 0, 0.6);
    border-color: rgba(255, 146, 0, 0.6);
  }
  
}

.btn--form {
  padding: 0 0.67em;
  font-size: calcFontSize(36, 40, 1024, 1600);
  line-height: 1.9;
  color: #000000;
  border-radius: 0.28em;
}

@media ($mobile__width-mq) {
  .btn {
    padding: 0.35em 0.85em;
    font-size: 4.73vw;
    border: none;
    border-radius: 22px;
  }
  
  .btn--order {
    color: #000000;
    background-color: #ffffff;
    &:hover {
      color: #000000;
    }
  }
  
  .btn--login {
    font-weight: 700;
    font-size: 5.1vw;
    line-height: 1.5;
    color: #131414;
    text-transform: uppercase;
    background-color: #ffc000;
    border-color: #ffc000;
    border-radius: 34px;
    &:hover {
      color: #131414;
      background-color: #ffc000;
    }
  }
  
  .btn--big {
    display: block;
    width: 100%;
    margin-right: 0;
    padding: 0.7em;
    font-size: 8vw;
    line-height: 1;
    border-radius: 2.78vw;
  }
  
  .btn--transparent {
    padding: 0.25em;
    font-size: 4.7vw;
    border: 1px solid #ffc000;
    border-radius: 1.5vw;
  }
  
  .btn--yellow {
    font-size: 5vw;
    border-radius: 1.67vw;
    &:hover {
      background-color: #ffc000;
    }
  }
  
  .btn--blue {
    font-size: 4.5vw;
    border-radius: 1.2vw;
  }
  
  .btn--white {
    font-size: 5vw;
    border-radius: 1.2vw;
  }
}

@media ($mobile__width-mq) and (orientation: landscape) {
  .btn {
    padding: 0.35em 0.85em;
    font-size: 2.66vw;
  }
  
  .btn--order {
    border: 1px solid #ffc000;
  }
  
  .btn--login {
    font-size: 2.86vw;
    line-height: 1.2;
    border-radius: 34px;
  }
  
  .btn--big {
    padding: 0.6em 0.85em;
    font-size: 8vw*0.6;
    border-radius: 2.78vw*0.6;
  }
  
  .btn--transparent {
    padding: 0.3em;
    font-size: 4.7vw * 0.6;
    border-radius: 1.5vw * 0.6;
  }
  
  .btn--yellow {
    font-size: 5*0.6vw;
    border-radius: 1.67*0.6vw;
  }
  
  .btn--blue {
    font-size: 4.5vw * 0.6;
    border-radius: 1.2vw * 0.6;
  }
  
  .btn--white {
    font-size: 5vw * 0.6;
    border-radius: 1.2vw * 0.6;
  }
}

@media ($desktop__width-mq) {
  .btn {
    font-size: 18px;
    border-radius: 19px;
  }
  
  .btn--big {
    margin-right: 11px;
    font-size: 18px;
    border-radius: 9px;
  }
  
  .btn--transparent {
    width: 155px;
    margin-right: 0;
    font-size: 16px;
  }
  
  .btn--form {
    font-size: 40px;
  }
}