@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.partners {
  @include container($desktop__container-width);
  @include font--1(19px, 1.42, #0470b6);
  min-width: $desktop__container-min-width;
  max-width: $desktop__container-max-width;
  padding: 65px $desktop__container-padding 103px;
  .owl-prev,
  .owl-next {
    color: #409adb;
    opacity: 0.7;
  }
  .owl-prev {
    left: -4.8%;
  }
  .owl-next {
    right: -4.8%;
  }
}

.partners__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: calcFontSize(45, 50, 1024, 1600);
  text-align: center;
}

.partners__list {
  @include pseudo-after(200px, 100%);
  position: relative;
  &::after {
    @include gradient-x(rgba(255, 255, 255, 0), #ffffff, 0%, 90%);
    top: 0;
    right: -3px;
  }
}

.partners__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 275px;
  height: 190px;
  overflow: hidden;
  img {
    @include img-size();
    display: inline-block !important;
    width: auto !important;
  }
}

.partners__item--5-element {
  width: 260px;
}

.partners__item--oma {
  width: 170px;
}

.partners__item--technics {
  width: 180px;
}

.partners__item--alfa {
  width: 248px;
  img {
    padding-top: 8px;
  }
}

.partners__item--neighbors {
  width: 255px;
  img {
    width: 216px;
    height: 56.67px;
  }
}

.partners__item--24shop,
.partners__item--involux,
.partners__item--korona,
.partners__item--salon {
  width: 190px;
}

.partners__item--silverscreen {
  width: 230px;
  padding-left: 15px;
}

.partners__item--tehnobank {
  width: 300px;
}

@media ($mobile__width-mq) {
  .partners {
    @include container($mobile__container-width);
    min-width: $mobile__container-min-width;
    max-width: $mobile__container-max-width;
    padding: $mobile__container-padding;
    .owl-prev {
      left: -8vw;
    }
    .owl-next {
      right: -8vw;
    }
  }
  
  .partners__title {
    font-size: 15vw;
    line-height: 0.7;
  }
  
  .partners__list {
    &::after {
      display: none;
    }
  }
  
  .partners__item {
    justify-content: center;
    width: 82vw;
    height: 180px;
  }
  
  .partners__item--5-element {
    padding-left: 5px;
  }
  
  .partners__item--alfa {
    padding-left: 15px;
  }
  
  .partners__item--silverscreen {
    padding-left: 5px;
  }
}

@media ($mobile__width-mq) and (orientation: landscape) {
  .partners {
    padding: $mobile__container-padding * 0.56;
    .owl-prev {
      left: -8vw * 0.6;
    }
    .owl-next {
      right: -8vw * 0.6;
    }
  }
  
  .partners__title {
    position: relative;
    z-index: 100;
    margin-bottom: -4vw;
    font-size: 15vw * 0.6;
    line-height: 0.7;
  }
  
  .partners__item {
    width: 82vw * 0.56;
    height: 180px;
  }
}

@media ($desktop__width-mq) {
  .partners {
    padding: 65px 80px 103px;
  }
  
  .partners__title {
    font-size: 50px;
  }
}