@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.main-nav {
  @include container($desktop__container-width, $desktop__container-padding);
  position: relative;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: $desktop__container-max-width;
  padding-top: calcFontSize(16, 18, 1024, 1600);
  padding-bottom: calcFontSize(16, 18, 1024, 1600);
  font-size: calcFontSize(17, 19, 1024, 1600);
  line-height: 1.38;
  background-color: #ffffff;
}

.main-nav__logo {
  flex-grow: 3;
  margin-right: 20px;
  img {
    width: 16.89vw;
    min-width: 173px;
    max-width: 260px;
    height: 2.03vw;
    min-height: 21px;
    max-height: 31px;
    vertical-align: top;
  }
}

.main-nav__list {
  display: flex;
  flex-grow: 2;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  a {
    position: relative;
    display: block;
    margin: 0 14px 0 0;
    padding: 8px 0;
    color: #0470b6;
    text-decoration: none;
    &:hover {
      @include pseudo-after(100%, 3px);
      &::after {
        bottom: 5px;
        left: 0;
        background-color: #0470b6;
      }
    }
  }
}

.main-nav__purchase-block {
  display: flex;
  flex-grow: 3;
  justify-content: space-around;
  align-items: center;
}

.main-nav__phone {
  margin-right: 14px;
  margin-left: 20px;
  font-weight: 700;
  font-size: calcFontSize(22, 30, 1024, 1600);
  color: #000000;
  text-decoration: none;
  span {
    font-weight: 400;
    font-size: calcFontSize(20, 27, 1024, 1600);
    color: #859eae;
  }
}

.main-nav__toggle-menu {
  display: none;
}

.main-nav__user-block {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.main-nav__user-block--mobile {
  display: none;
}

@media ($mobile__width-mq) {
  .main-nav {
    padding: 0;
  }
  
  .main-nav__logo {
    display: flex;
    justify-content: center;
    order: 2;
    margin: 0;
    padding: 5.45vw 0;
    background-color: #ffffff;
    img {
      width: 82vw;
      max-width: 550px;
      height: 10vw;
      max-height: 100px;
      transition-duration: 0.4s;
    }
  }
  
  .main-nav__logo--hide {
    img {
      opacity: 0;
    }
  }
  
  .main-nav__list {
    position: absolute;
    top: 6vh;
    right: 0;
    z-index: 10;
    flex-direction: column;
    width: 73%;
    height: 94vh;
    background-color: #fedd46;
    opacity: 0;
    transition-duration: 0.4s;
    transform: translateX(100%);
  }
  
  .main-nav__list--show {
    opacity: 1;
    transform: translateX(0);
  }
  
  .main-nav__item {
    flex-grow: 0;
    border-bottom: 1px solid #ffc000;
    a {
      margin-left: 6.4vw;
      font-weight: 700;
      font-size: 6.4vw;
      line-height: 2.8;
      color: #131414;
      &:hover {
        &::after {
          display: none;
        }
      }
    }
  }
  
  .main-nav__purchase-block {
    position: relative;
    z-index: 20;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 1.82vw 20.91vw 1.82vw $mobile__container-padding;
    background-color: #fedd46;
    border-bottom: 1px solid #ffc000;
  }
  
  .main-nav__order {
    order: 2;
  }
  
  .main-nav__phone {
    margin: 0;
    font-weight: 400;
    font-size: 5.24vw;
    span {
      font-size: 4.81vw;
      color: #000000;
    }
  }
  
  .main-nav__toggle-menu--open {
    @include hamburger(#000000, #000000, 6.5vw, 6vw, 1.4vw);
    &::after {
      border-radius: 4px;
    }
  }
  
  .main-nav__toggle-menu--close {
    align-self: flex-start;
    width: 7.2vw;
    &::after {
      display: none;
    }
    span {
      @include modal-close(7.2vw, 7.2vw, 7.2vw, 1.3vw, #000000);
      &::before,
      &::after {
        border-radius: 4px;
      }
    }
  }
  
  .main-nav__toggle-menu {
    position: absolute;
    right: $mobile__container-padding;
    display: block;
  }
  
  .main-nav__user-block--mobile {
    display: block;
    padding-top: 6.4vw;
    padding-bottom: 6.4vw;
    padding-left: 6.4vw;
  }
  
  .main-nav__user-block--desktop {
    display: none;
  }
}

@media ($desktop__width-mq) {
  .main-nav {
    padding: 18px 80px;
    font-size: 19px;
  }
  
  .main-nav__phone {
    font-size: 30px;
    span {
      font-size: 27px;
    }
  }
  
  .main-nav__order {
    margin-left: -15px;
  }
}
