<nav class="main-nav">
  <div class="main-nav__logo"><span>Ckopo</span>xoct</div>
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a href="#">Серверы</a>
    </li>
    <li class="main-nav__item">
      <a href="#rates">Тарифы</a>
    </li>
    <li class="main-nav__item">
      <a href="#features">Плюсы</a>
    </li>
    <li class="main-nav__item">
      <a href="#support">Поддержка</a>
    </li>
    <div class="main-nav__user-block  main-nav__user-block--mobile">
      <a href="#" class="user-menu__login  btn  btn--login">Войти</a>
    </div>
  </ul>
  <div class="main-nav__purchase-block">
    <a href="#" class="main-nav__order  btn  btn--order">Заказ</a>
    <a href="tel:+375172780045" class="main-nav__phone"><span>+375 17</span> 278-00-45</a>
    <div class="main-nav__toggle-menu  main-nav__toggle-menu--open"><span></span></div>
  </div>
  <div class="main-nav__user-block  main-nav__user-block--desktop">
    <a href="#" class="user-menu__login  btn  btn--login">Войти</a>
  </div>
</nav>
