@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.main-nav {
  @include container($desktop__container-width, $desktop__container-padding);
  @include font--1(1.7vw, 1.40);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: $desktop__container-max-width;
  padding: 20px 10px;
  background-color: #ffffff;
}

.main-nav__logo {
  @include font--2(2.7vw, 1, #1b2034);
  flex-grow: 1;
  margin-right: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: default;
  span {
    color: #ffc000;
  }
}

.main-nav__list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  flex-grow: 1;
  a {
    position: relative;
    margin: 0 10px;
    padding: 10px 0;
    color: #0470b6;
    text-decoration: none;
    &:hover {
      @include pseudo-after(100%, 3px);
      &::after {
        bottom: 5px;
        left: 0;
        background-color: #0470b6;
      }
    }
  }
}

.main-nav__purchase-block {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.main-nav__phone {
  margin: 0 20px 0 30px;
  font-weight: 700;
  font-size: 2.4vw;
  color: #000000;
  text-decoration: none;
  span {
    font-weight: 400;
    font-size: 2.2vw;
    color: #859eae;
  }
}

.main-nav__toggle-menu {
  display: none;
}

.main-nav__user-block {
  flex-grow: 1;
}

.main-nav__user-block--mobile {
  display: none;
}

@media ($mobile__width-mq) {
  .main-nav {
    padding: 0;
  }
  
  .main-nav__logo {
    order: 2;
    margin: 0;
    padding: 3.6vw 0;
    font-size: 11.8vw;
    background-color: #ffffff;
  }
  
  .main-nav__list {
    position: absolute;
    top: 10.8vw;
    right: 0;
    z-index: 10;
    display: none;
    flex-direction: column;
    width: 73%;
    background-color: #fedd46;
    //min-height: 115vw;
    //padding-bottom: 40px;
  }
  
  .main-nav__list--show {
    display: block;
  }
  
  .main-nav__item {
    flex-grow: 0;
    border-bottom: 1px solid #ffc000;
    a {
      margin-left: 6.4vw;
      font-weight: 700;
      font-size: 6.4vw;
      line-height: 2.8;
      color: #131414;
      &:hover {
        &::after {
          display: none;
        }
      }
    }
  }
  
  .main-nav__purchase-block {
    position: relative;
    z-index: 20;
    justify-content: space-between;
    align-items: center;
    min-width: 80%;
    padding: 1.8vw $mobile__container-padding;
    background-color: #fedd46;
    border-bottom: 1px solid #ffc000;
  }
  
  .main-nav__order {
    order: 2;
  }
  
  .main-nav__phone {
    margin: 0;
    font-weight: 400;
    font-size: 5.2vw;
    span {
      font-size: 4.7vw;
      color: #000000;
    }
  }
  
  .main-nav__toggle-menu {
    display: block;
    order: 3;
  }
  
  .main-nav__toggle-menu--open {
    @include hamburger(#000000, #000000, 6.5vw, 6vw, 1.4vw);
    &::after {
      border-radius: 4px;
    }
  }
  
  .main-nav__toggle-menu--close {
    position: relative;
    align-self: flex-start;
    width: 7.2vw;
    &::after {
      display: none;
    }
    span {
      @include modal-close(7.2vw, 7.2vw, 7.2vw, 1.3vw, #000000);
      &::before,
      &::after {
        border-radius: 4px;
      }
    }
  }
  
  .main-nav__user-block--mobile {
    display: block;
    padding-top: 6.4vw;
    padding-bottom: 6.4vw;
    padding-left: 6.4vw;
  }
  
  .main-nav__user-block--desktop {
    display: none;
  }
}

@media ($desktop__width-mq) {
  .main-nav {
    font-size: 27px;
  }
  
  .main-nav__logo {
    font-size: 43px;
  }
  
  .main-nav__phone {
    font-size: 38.4px;
    span {
      font-size: 35.2px;
    }
  }
}