@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.awards {
  @include font--1(21px, 1.29, #ffffff);
  background-color: #2771a1;
  background-image: url('../img/bg__awards--cup.png'),
  url("../img/bg__awards.jpg");
  background-repeat: no-repeat,
  no-repeat;
  background-position: 63vw top,
  left top;
  background-size: auto 100%,
  cover;
}

.awards__wrapper {
  @include container($desktop__container-width);
  min-width: $desktop__container-min-width;
  max-width: $desktop__container-max-width;
  padding: 72px $desktop__container-padding 38px;
}

.awards__title {
  margin: 0 0 35px;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  span {
    @include pseudo-after(100%, 3px);
    position: relative;
    color: #ffdd21;
    &::after {
      top: 100%;
      left: 0;
      background-color: #ffdd21;
    }
  }
}

.awards__text {
  width: 79%;
  margin: 0;
  padding: 0 0 30px;
}

@media ($mobile__width-mq) {
  .awards {
    background-image: url('../img/bg__awards--cup.png'),
    url("../img/bg__awards--mobile.jpg");
    background-position: right bottom,
    left top;
    background-size: 82.7% auto,
    cover;
  }
  
  .awards__wrapper {
    @include container($mobile__container-width);
    min-width: $mobile__container-min-width;
    max-width: $mobile__container-max-width;
    padding: $mobile__container-padding $mobile__container-padding 60vw;
  }
  
  .awards__title {
    font-size: 8.1vw;
  }
  
  .awards__text {
    width: auto;
    font-size: 4.83vw;
  }
}

@media (min-width: 1200px) {
  .awards {
    background-position: right top,
    left top;
  }
  
  .awards__text {
    width: 66%;
  }
}

@media ($desktop__width-mq) {
  .awards__wrapper {
    padding: 120px 80px 90px;
  }
  
  .awards__text {
    width: 60%;
  }
}