<div class="promo  owl-carousel">
  <div class="promo__item">
    <h3 class="promo__caption">Обгоняйте конкурентов Online!</h3>
    <p class="promo__description">Быстрые серверы для Битрикс с уникальным пакетом услуг</p>
    <p class="promo__text">Уникальное комплексное предложение для магазинов, сайтов и порталов на платформе 1С-Битрикс.
      Все, что нужно для роста онлайн-продаж и роста. Мы лучше других знаем, что нужно для быстрой
      работы вашего проекта - на базе 15-летнего опыта компании "Новый Сайт", лидера
      разработки на 1С-Битрикс. в Беларуси
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid aut cupiditate, earum error id in, modi odit omnis sequi sit ullam?
    <div class="promo__buttons">
      <a class="promo__trial  btn  btn--big  btn--trial" href="#">Попробывать бесплатно</a>
      <a class="promo__more  btn  btn--big  btn--more" href="#">Узнать больше</a>
    </div>
  </div>
  <div class="promo__item">
    <h3 class="promo__caption">Обгоняйте конкурентов Online!</h3>
    <p class="promo__description">Быстрые серверы для Битрикс с уникальным пакетом услуг</p>
    <p class="promo__text">Уникальное комплексное предложение для магазинов, сайтов и порталов на платформе 1С-Битрикс.
      Все, что нужно для роста онлайн-продаж и роста. Мы лучше других знаем, что нужно для быстрой
      работы вашего проекта - на базе 15-летнего опыта компании "Новый Сайт", лидера
      разработки на 1С-Битрикс. в Беларуси
    <div class="promo__buttons">
      <a class="promo__trial  btn  btn--big  btn--trial" href="#">Попробывать бесплатно</a>
      <a class="promo__more  btn  btn--big  btn--more" href="#">Узнать больше</a>
    </div>
  </div>
</div>
