@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.promo {
  @include container($desktop__container-width);
  @include font--1(1.6vw, 1.38, #ffffff);
  box-sizing: border-box;
  min-width: 1024px;
  max-width: 1600px;
  font-size: calc(16px + (20 - 16) * (100vw - 1024px) / (1600 - 1024));
  background-color: #000000;
}

.promo__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 45vw;
  max-height: 435px;
  padding: 60px 150px 20px 6%;
  background: url("../img/bg__promo.jpg") no-repeat;
  background-size: cover;
}

.promo__caption {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: calc(44px + (54 - 44) * (100vw - 1024px) / (1600 - 1024));
}

.promo__description {
  margin: 0;
  padding: 0 0 35px;
  font-size: calc(26px + (36 - 26) * (100vw - 1024px) / (1600 - 1024));
  color: #ffc000;
}

.promo__text {
  height: 6.1vw;
  min-height: 65px;
  max-height: 78px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.promo__buttons {
  margin-top: auto;
}

.owl-prev {
  left: 1vw;
  background: url("../img/icon__prev--white.png") no-repeat;
}

.owl-next {
  right: 1vw;
  background: url("../img/icon__next--white.png") no-repeat;
}

.owl-prev,
.owl-next {
  @include center(absolute, false, true);
  width: 2.57vw;
  height: 3.9vw;
  background-size: contain;
  &:hover {
    opacity: 0.4;
  }
}

@media ($mobile__width-mq) {
  .promo {
    @include container($mobile__container-width);
    min-width: 300px;
  }
  
  .promo__item {
    height: 95vw;
    max-height: 850px;
    padding: 40px $mobile__container-padding 30px;
  }
  
  .promo__caption {
    padding-bottom: 20px;
    font-size: 7.64vw;
    line-height: 0.85;
  }
  
  .promo__description {
    font-size: 4.18vw;
  }
  
  .promo__text {
    height: 34.5vw;
    max-height: 320px;
    font-size: 3.45vw;
    line-height: 1.32;
  }
  
  .promo__more {
    display: none;
  }
  
  .owl-prev,
  .owl-next {
    width: 5.4vw;
    height: 8.18vw;
    background-size: auto 8.18vw;
    &:hover {
      opacity: 1;
    }
  }
}

@media ($desktop__width-mq) {
  .promo__caption {
    font-size: 54px;
  }
  
  .promo__description {
    font-size: 36px;
  }
  
  .promo__text {
    font-size: 20px;
  }
  
  .owl-next,
  .owl-prev {
    max-width: 41px;
    max-height: 62px;
  }
}